button, input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
}

.public-key {
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

p.public-key {
    font-family: monospace;
    color: #777;
}

#message, #encrypted {
    width: 100%;
    height: 20em;
}

#encrypted {
    font-family: monospace;
}